*{
    margin: 0;
    padding: 0;
}

/*Fuentes*/
@font-face{
    font-family: Outfit;
    src: url(../font/Outfit-VariableFont_wght.ttf);
    font-weight: 100, 900;
    font-style: normal;
}

body{
    background-color: hsl(212, 45%, 89%) !important;
    height: 100vh;
}

.card-title{
    font-family: Outfit;
    font-size: 17px;
    
}

p{
    font-family: Outfit;
    color: hsl(216, 15%, 48%);
    font-size: 12px;
}